body {
 background-color: #25222B;
 background-image:url(Fotos/Background/LB.png);
 background-size: 1350px auto;
}

h1 {
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  background-color: #3C3142;
  padding: 20px;
  text-shadow: #e6e6e6 1px 0 10px;
  font-style: oblique;
}

h2 {
  color: #e6e6e6;
  margin: 0px 0px 25px 0px;
}

h3 {
  color: #e6e6e6;
}

p {
  color: #e6e6e6;
}

div {
  /* Top, Right, Bottom, Left (dit doe je trouwens met "command" + "/" */
  margin: 50px 250px 50px 25px;
  padding: 25px;
  background-color: #2A2D38;
  box-shadow: 5px 5px 2px #151419;
  border-radius: 8px;
}

div a {
  display: flex;
  justify-content: end;
  text-decoration: none;
}

  button {
    height: 50px;
    width: 150px;
    font-size: large;
    transition-duration: 0.5s;
    background-color: #2A2D38;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(230, 230, 230);
    border-color: #323142;
  }

button:hover {
  background-color: #3C3142;
  color: #ffffff;
}

img {
   padding: 15px;
   transition-duration: 0.5s;
   border: rgba(240, 248, 255, 0.641);
   width: 300px;
   height: auto;
  }

img:hover{
transform: scale(1.1);
  }
