body {
  border-left: solid 25px #25222B;
 border-right: solid 25px #25222B;
 background-color: #25222B;
}

h1 {
  color: #e6e6e6;
}

h2 {
  color: #e6e6e6;
}

h3 {
  color: #e6e6e6;
}

p {
  color: #e6e6e6;
}

li {
  color: #e6e6e6;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  button {
    height: 50px;
    width: 150px;
    font-size: large;
    transition-duration: 0.5s;
    background-color: #2A2D38;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(230, 230, 230);
    border-color: #323142;
  }

button:hover {
  background-color: #3C3142;
  color: #ffffff;
}

  img {
   padding: 15px;
   transition-duration: 0.5s;
   cursor: pointer;
   border: rgba(240, 248, 255, 0.641);
  }

  img:hover{
transform: scale(1.1);
  }